__pycache__/alpha_optimization.cpython-310.pyc
__pycache__/dE_dalpha.cpython-310.pyc
__pycache__/local_energy.cpython-310.pyc
__pycache__/metropolis.cpython-310.pyc
__pycache__/wavefunction.cpython-310.pyc
